<center><h2 class="center center-block">Vendor</h2></center>
<hr>
<div class="social-buttons">
	<a href="#" class="btn btn-fb col-xs-12"><i class="fa fa-facebook"></i>  Join with Facebook</a>
</div>
<br/><br/>
<center><p class="login-or-line">Or</p></center>
<form class="form" role="form" method="post" action="login" accept-charset="UTF-8"
      id="login-nav">
	<div class="form-group">
		<label class="sr-only" for="zanguSecEmail">Email address</label>
		<input type="email" class="form-control" id="zanguSecEmail"
		       placeholder="Email address" required>
	</div>
	<div class="form-group">
		<label class="sr-only" for="zanguSecPwd">Password</label>
		<input type="password" class="form-control" id="zanguSecPwd"
		       placeholder="Password" required>
	</div>
	<div class="form-group">
		<label class="sr-only" for="zanguSecBusinessname">Business name</label>
		<input type="text" class="form-control" id="zanguSecBusinessname"
		       placeholder="Business name" required>

	</div>
	<div class="form-group">
		<label class="sr-only" for="zanguSecBusinesstype">Business type</label>
		<select type="text" class="form-control" id="zanguSecBusinesstype"
		       placeholder="Username" required>
			<option> Individual </option>
			<option> Wholesaler </option>
			<option> Chain </option>
			</select>

	</div>
	<div class="form-group">
		<label class="sr-only" for="zanguSecContact">Contact (optional)</label>
		<input type="text" class="form-control" id="zanguSecContact"
		       placeholder="contant number" required>
	</div>
	</div>
	<div class="form-group">
		<label class="sr-only" for="zanguSecWebsite">Website (optional)</label>
		<input type="text" class="form-control" id="zanguSecWebsite"
		       placeholder="Website url" required>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">Sign in</button>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> I am accepting terms & conditions
		</label>
	</div>
</form>